{% load i18n %}

{% block subject %}
Verify your Demix Account
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish verifying your Demix account.{% endblocktrans %}

{% trans "Click on the link below to verify your account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Demix team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish verifying your Demix account.{% endblocktrans %}</p>

<p>{% trans "Click on the link below to verify your account:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Demix team{% endblocktrans %}</p>

{% endblock html_body %}